*{
	padding: 0;
	margin: 0;
	font-family: serif;
}
html {
    scroll-behavior: smooth;
}
/*------------------------------------------------------------------------------------------------------------*/
.bg{
    background-image: url(images/bg.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width:100%;
    height:900px;
}
.bgColor{
    background-color: rgb(112, 86, 67);
    color: white;
}
.navbar{
    width:100%;
    height:70px;
    text-align:center;
    position: fixed;
    color:white;
}
.navbar ul{
    padding:25px;
}
.navbar ul li{
    list-style-type:none;
    display:inline;
    padding:10px;
}
.navbar ul li a{
	text-decoration: none;
    color:white;
    font-weight:bold;
    font-size:12px;
}
.bg h1{
    font-size: 90px;
    color: white;
    padding-top:300px;
    text-align: left;
    padding-left: 100px;
}
/*------------------------------------------------------------------------------------------------------------*/
.arametin{
    width: 100%;
    height: 120px;
    background-color:  rgb(112, 86, 67);
}
.arametin h1{
    color:white;
    font-size: 25px;
    text-align: center;
    padding-top:50px;
}
/*------------------------------------------------------------------------------------------------------------*/
.hizmetler{
    width: 100%;
    height: 800px;
}
.hizmetler table{
    width: auto;
    height: 600px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 75px;
}
.hizmetler table tr td{
    width: 330px;
    height: 300px;
    padding: 10px;
}
.hizmetler table tr td img{
    width: 320px;
    height: 200px;
}
.hizmetler table tr td h5{
    font-size: 18px;
    color:rgb(70, 65, 65);
    text-align: center;
    padding: 10px;
}
.hizmetler table tr td p{
    font-size: 15px;
    color:rgb(70, 65, 65);
    text-align: center;
}
/*------------------------------------------------------------------------------------------------------------*/
.hakkimizda{
    width: 100%;
    height: 800px;
}
.hakleft{
    width: 50%;
    height: 800px;
    background-color:  rgb(112, 86, 67);
    float: left;
}
.hakleft h2{
    color: white;
    font-size: 30px;
    padding-top: 50px;
    padding-left: 200px;
}
.hakleft p{
    color: white;
    font-size: 18px;
    padding-top: 20px;
    padding-left: 200px;
    padding-right: 30px;
}
.hakright{
    width: 50%;
    height: 800px;
    background-image: url(images/terazi.jpg);
    background-size: cover ;
    background-position: center;
    background-repeat: no-repeat;
    float: right;
}
/*------------------------------------------------------------------------------------------------------------*/
.content2{
    width: 100%;
    height: 600px;
}
.content2 table{
    width: auto;
    height: auto;
    margin-right: auto;
    margin-left: auto;
}
.content2 table tr td{
    width: 330px;
    height: 250px;
    background-color: whitesmoke;
    border: 20px solid white;
}
.content2 table h5{
    font-size: 18px;
    color:rgb(70, 65, 65);
    text-align: center;
    padding: 10px;
}
.content2 table p{
    font-size: 15px;
    color:rgb(70, 65, 65);
    text-align: center;
    padding: 10px;
}
/*------------------------------------------------------------------------------------------------------------*/
.kadro{
    width: 100%;
    height: 500px;
}
.kadroİc{
    width: 1000px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
}
.container {
  width: 1000px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .header {
    margin: 0 auto;
    text-align: center;
    h1 {
        color:rgb(70, 65, 65);
      font-weight: bold;
      padding-top: 10px;
    }
    p {
      color: #fff;
      max-width: 650px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .card {
    position: relative;
    margin-left: 9px;
    margin-right: 9px;
    .face {
      position: relative;
      width: 100%;
      max-width: 300px;
      height: 200px;
      transition: 0.5s;
      border-radius: 12px;
      &.face1 {
        position: relative;
        background: #333;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
        transform: translateY(100px);
      }
    }
    &:hover .face.face1 {
      transform: translateY(0);
      background-image: linear-gradient(to left bottom, #a06b10, #e0aa4d,#805307,  #a06b10,#e0aa4d);
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
    .face.face1 .content {
      opacity: 0.8;
      transition: 0.5s;
    }
    &:hover .face.face1 .content {
      opacity: 1;
    }
    .face {
      &.face1 .content {
        img {
          max-width: 60px;
        }
        h3 {
          margin: 10px 0 0;
          padding: 0;
          color: #fff;
          text-align: center;
          font-size: 1.5em;
        }
      }
      &.face2 {
        position: relative;
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        box-sizing: border-box;
        box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
        transform: translateY(-100px);
      }
    }
    &:hover .face.face2 {
      transform: translateY(0);
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
    .face.face2 {
      p {
        margin: 0;
        padding: 0;
      }
      a {
        margin: 15px 0 0;
        display: inline-block;
        text-decoration: none;
        font-weight: 900;
        color: #333;
        padding: 5px;
        border: 1px solid #333;
        &:hover {
          background: #333;
          color: #fff;
        }
      }
    }
  }
}
/*------------------------------------------------------------------------------------------------------------*/
.content3{
    width: 100%;
    height: 200px;
    background-color: whitesmoke;
}
.content3 h1{
    color:  rgb(214, 161, 82);
    font-size: 45px;
}
.content3 h3{
    color:rgb(70, 65, 65);
    font-size: 16px;
    padding-top: 10px;
    font-weight: bold;
}
.content3 table{
    width: 1000px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}
.content3 table tr td{
    width: 250px;
    height: 200px;
    text-align: center;
}
/*------------------------------------------------------------------------------------------------------------*/
.yorum{
    width: 100%;
    height: 320px;
}
.yorum ul {
  list-style: none;
}
.yorum h1{
    color:rgb(70, 65, 65); 
    text-align: center;
    padding-top: 30px;
  }
.tabs {
  position: relative;
  display: block;
  margin-top: 20px;
}
.tabs li label {
  position: relative;
  display: inline-block;
  float: left;
  height: 40px;
  margin-right: 5px;
  padding: 0 15px;
  border: 1px solid #ddd;
  background: #eee;
  color:rgb(70, 65, 65);
  line-height: 40px;
  text-align: center;      
  cursor: pointer;
  z-index: 99;          
}

input[type=radio]:checked ~ label {
  border-bottom: 1px solid #fff;
  background: #fff;
}

.panel {
  padding: 10px 20px;
  background: #fff;
  border: 1px solid #ddd;
  margin-top: 1px;
  width: 100%;
  position: absolute;
  top: 40px;
  opacity: 0;
  z-index: 1;
  transition: opacity .3s;
  color:rgb(70, 65, 65);
}

/* Checkbox */
input.radio-hack[type=radio] {
  position: fixed;
  left: -9999px;
  opacity: 0;
  filter: alpha(opacity=0);
}

input[type=radio]:checked ~ div.panel {
  opacity: 1;
}

.wrapper {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 15px;
  padding-top:20px;
}
/*------------------------------------------------------------------------------------------------------------*/
.blog{
    width:100%;
    height:700px;
    background-color: whitesmoke;
}
.blog h3{
    color:rgb(70, 65, 65);
    text-align: center;
    font-size: 40px;
}
.blog table{
    width: 1000px;
    height:500px ;
    margin-left: auto;
    margin-right: auto;
}
.blog table tr td{
    width: auto;
    height:auto ;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}
.blog h1{
    text-align: left;
    color: rgb(48, 47, 46);
    font-size: 50px;
    padding-bottom: 100px;
}
.blog img{
    width: 355px;
    height:230px ;
    margin-left: auto;
    margin-right: auto;
}
.blog h2{
    text-align: left;
    color: rgb(48, 47, 46);
    padding-top: 20px;
}
.blog p{
    text-align: left;
    color: rgb(100, 95, 88);
    padding-top: 20px;
}
/*------------------------------------------------------------------------------------------------------------*/
.iletisim{
    width: 100%;
    height: 300px;
    background-image: url(images/bg.jpeg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.iletisim h3{
    color: white;
    font-size: 20px;
    padding: 10px 30px;
}
.iletisim p{
    color: white;
    font-size: 16px;
    padding: 10px 30px 30px 30px;
}
.iletisim table{
    width: 1000px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}
.iletisim table tr td{
    width: 500px;
    height: 300px;
}
.social ul{
    list-style-type: none;
    display: inline;
}
.social ul li{
    height: 30px;
    width: 30px;
    float: left;
    margin: 4px; 
    text-align: center;
    border: 1px solid white;
    border-radius: 5px;
    padding-top: 5px;
}
.social ul li:hover{
    background-color:rgb(214, 161, 82);
    border: 1px solid rgb(214, 161, 82);
}
.social ul li a img{
    height: 20px;
    width: 20px; 
}
/*------------------------------------------------------------------------------------------------------------*/
.footer{
    width: 100%;
    height: 75px;
    background-color: rgb(112, 86, 67);
}
.footer h5{
    text-align: center;
    color:white;
    font-size: 15px;
    padding-top: 30px;
}